## Session #1 Homework

### Set up the environment

You need to install Python, NumPy, Pandas, Matplotlib and Seaborn. For that, you can the instructions from
[06-environment.md](https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/01-intro/06-environment.md).

### Question 1

What's the version of NumPy that you installed? 

You can get the version information using the `__version__` field:

```python
np.__version__
```

In [2]:
import numpy as np
import pandas as pd 
import matplotlib as plt
import seaborn as sns

In [4]:
np.__version__

'1.20.3'


### Getting the data 

For this homework, we'll use the Car price dataset. Download it from 
[here](https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv).

You can do it with wget:

```bash
wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
```

Or just open it with your browser and click "Save as...".

In [9]:
import subprocess
def runcmd(cmd, verbose = False, *args, **kwargs):

    process = subprocess.Popen(
        cmd,
        stdout = subprocess.PIPE,
        stderr = subprocess.PIPE,
        text = True,
        shell = True
    )
    std_out, std_err = process.communicate()
    if verbose:
        print(std_out.strip(), std_err)
    pass
runcmd("wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv ", verbose = True)

 --2022-09-12 00:11:08--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8000::154, 2606:50c0:8001::154, 2606:50c0:8003::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8000::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: 'data.csv'

     0K .......... .......... .......... .......... ..........  3% 1.27M 1s
    50K .......... .......... .......... .......... ..........  6% 4.30M 1s
   100K .......... .......... .......... .......... .......... 10% 1.55M 1s
   150K .......... .......... .......... .......... .......... 13% 29.7M 1s
   200K .......... .......... .......... .......... .......... 17% 4.31M 0s
   250K .......... .......... .......... .......... .......... 20% 4.72M 0s
   300K .......... .......... .......... .......... .......... 24% 3.43M 0s
   350K .......... .......... .......... .......... .......... 27% 9.76M 0s
   400K .......... .......... .......... .......... .......... 31% 13.7M 0s
   450K .......... .......... .......... .......... .......... 34% 14.4M 0s
   500K .......... .......... .......... .......... .......... 38% 9.66M 0s
   550K .......... .......... .......... .......... .......... 41% 32.9M 0s
   600K .......... .......... .......... .......... .......... 45% 3.48M 0s
   650K .......... .......... .......... .......... .......... 48% 3.54M 0s
   700K .......... .......... .......... .......... .......... 52%  107M 0s
   750K .......... .......... .......... .......... .......... 55%  115M 0s
   800K .......... .......... .......... .......... .......... 58% 35.7M 0s
   850K .......... .......... .......... .......... .......... 62% 18.7M 0s
   900K .......... .......... .......... .......... .......... 65%  148M 0s
   950K .......... .......... .......... .......... .......... 69% 11.1M 0s
  1000K .......... .......... .......... .......... .......... 72% 19.9M 0s
  1050K .......... .......... .......... .......... .......... 76% 6.47M 0s
  1100K .......... .......... .......... .......... .......... 79% 9.47M 0s
  1150K .......... .......... .......... .......... .......... 83% 4.79M 0s
  1200K .......... .......... .......... .......... .......... 86% 6.50M 0s
  1250K .......... .......... .......... .......... .......... 90% 24.7M 0s
  1300K .......... .......... .......... .......... .......... 93% 30.6M 0s
  1350K .......... .......... .......... .......... .......... 97% 26.7M 0s
  1400K .......... .......... .......... ..........           100%  102M=0.2s

2022-09-12 00:11:08 (6.59 MB/s) - 'data.csv' saved [1475504/1475504]

Now read it with Pandas.

### Question 2

How many records are in the dataset?

Here you need to specify the number of rows : 11914

In [10]:
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [11]:
print('Number of records in dataset:', df.shape[0])
print('Number of columns in dataset:', df.shape[1])

Number of records in dataset: 11914
Number of columns in dataset: 16

### Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?
- Chevrolet, Ford, Volkswagen

> **Note**: You should rely on "Make" column in this question.

In [13]:
pd.value_counts(df.Make)

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

### Question 4

What's the number of unique Audi car models in the dataset?
- 34

In [17]:
df.loc[df.Make == 'Audi', 'Model'].drop_duplicates().shape

(34,)

### Question 5

How many columns in the dataset have missing values?

- 5

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

### Question 6

1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the `fillna` method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

> Hint: refer to existing `mode` and `median` functions to complete the task.

- No

In [31]:
# median
print('Median value:', df['Engine Cylinders'].median())
print('Mode value:', df['Engine Cylinders'].mode()[0])

Median value: 6.0
Mode value: 4.0

In [33]:
df.fillna(value={'Engine Cylinders': 4.0}, inplace=True)

In [34]:
print('Median value:', df['Engine Cylinders'].median())

Median value: 6.0

In [35]:
df['Engine Cylinders'].isna().sum()

0

### Question 7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using `drop_duplicates` method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it `X`.
5. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
6. Invert `XTX`.
7. Create an array `y` with values `[1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]`.
8. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
9. What's the value of the first element of `w`?

> **Note**: You just implemented linear regression. We'll talk about it in the next lesson.
- 4.5949

In [38]:
lotus = df.loc[df.Make == 'Lotus', ['Engine HP', 'Engine Cylinders']].drop_duplicates()

In [39]:
X = np.array(lotus)
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [48]:
XT = X.T

In [49]:
XTX = np.matmul(XT, X)
inverse_XTX = np.linalg.inv(XTX)

In [50]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [52]:
w = np.matmul(np.matmul(inverse_XTX, XT), y)

In [53]:
print('First element: ', w[0])

First element:  4.594944810094551

In [54]:
w

array([  4.59494481, -63.56432501])

## Submit the results

Submit your results here: https://forms.gle/vLp3mvtnrjJxCZx66

If your answer doesn't match options exactly, select the closest one.


## Deadline

The deadline for submitting is 12 September 2022 (Monday), 23:00 CEST (Berlin time).

After that, the form will be closed.